<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXIF LOCATER</title>
    <link rel="stylesheet" type="text/css" href="static\css\main.css">
</head>
<body>
    <center><h1>EXIF GPS LOCATER</h1></center>
    <h2 id="one">Upload Image</h2>
    <form method="post" enctype="multipart/form-data" id="one">
        <div>
            <label for="file">Choose file to upload</label>
            <input type="file" accept=".jpg, .jpeg, .png" id="file" name="file" multiple />
        </div>
        <div>
            <button onclick="alert('file uploaded');">Submit</button>
        </div>
    </form>
    <br>
    <br>
    <br>
    <br>
    <h2 id="one">View Uploaded Images & Location</h2>
    <a href="view.html"><button id="two">View</button></a>
</body>
</html>